<!-- partial territory -->

<div class="field is-hidden">
  <label class="label">Reply to insert name here</label>
  <div class="control">
    <textarea class="textarea is-primary" placeholder="Textarea"></textarea>
    <br>
    <input class="button" type="submit" value="Submit Reply">
  </div>

