  <section class="section">
      <div class="container">
        <h1 class="title is-1">TechBlog</h1>
        <p class="subtitle">
          Where your thoughts
          <strong> GET POST! </strong>
        </p>

        <form action="/members/login" method="POST" id="loginForm" class="box">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                id="userName"
                name ="username"
                class="input"
                placeholder="Username"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>

              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
            <br />

            <p class="control has-icons-left">
              <input
                id="password"
                name="password"
                class="input"
                type="password"
                placeholder="Password"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <p class="control">
            <input class="button is-success" type="submit" value="Login" />
            <a href="/register" class="button is-info">Register</a>
          </p>
        </form>
      </div>
    </section>
    <script src="js/login.js"></script>
