  <section class="section">
      <div class="container">
        <h1 class="title is-1">TechBlog Invalid</h1>
        <p class="subtitle">
          Invalid Login
          <strong> Register Or Try Again </strong>
        </p>
        </form>
      </div>
    </section>

