
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
   
  {{#each testPost}}
  <article class="message block is-link">
  <div class="message-header">
    <p>{{this.heading}}</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    {{this.content}}
  </div>
</article>
{{/each}}

      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
      </div>
    </section>


  </div>