<div class="hero-body is-half">
  <form action="/members/newPost" method="POST">
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input name="title" class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field">
  <label class="label">Content</label>
  <div class="control">
    <textarea name="content" class="textarea is-primary" placeholder="Textarea"></textarea>
  </div>

  <input class="button" type="submit" value="Submit input">
</form>
</div>

