<div class="hero-body">
  <form action="/members/newPost" method="POST">
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input name="title" class="input" type="text" placeholder="Post Title">
  </div>
</div>

<div class="field">
  <label class="label">Content</label>
  <div class="control">
    <textarea name="content" class="textarea is-primary" placeholder="Post Content"></textarea>
  </div>
<br/>
  <input class="button" type="submit" value="Send Post">
</form>
<br/>
<br/>
 <a href="/members/home" id="replyVisible" class="message block is-info"> Back Home </a>
</div>

