html {
  min-height: 100vh;
}

body {
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.container,
.medium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  min-width: 800px;
}

.box {
  width: 35%;
}

.bgSetup {
  background-color: skyblue;
}
